{% extends "base.html" %}

{% block title %}Dodaj nowe zwierze{% endblock %}

{% block main %}
    <form action="." method=POST enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="chip_number" class="form-label">Numer</label>
            {{ form.chip_number }}
        </div>
        <div class="mb-3">
            <label for="pet_type" class="form-label">Gatunek</label>
            {{ form.pet_type }}
        </div>
        <div class="mb-3">
            <label for="pet_name" class="form-label">Imię</label>
            {{ form.pet_name }}
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Płeć</label>
            {{ form.gender }}
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Zdjęcie</label>
            {{ form.image }}
            <img src="{{form.initial.image.url}}" height="500px" width="500px" alt="image" id="image_preview">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Opis</label>
            {{ form.desc }}
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Zaginął</label>
            {{ form.is_lost }}
        </div>
        <button type="submit" class="btn btn-primary">Zarejestruj zwierze</button>
    </form>

    <script>
        const imgInput = document.querySelector("#id_image")
        const displayImg = document.querySelector("#image_preview")
        imgInput.addEventListener('change',
        (event)=>{
            const imgObject = event.target.files[0]
            displayImg.src = URL.createObjectURL(imgObject)})
    </script>
{% endblock %}