{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Zaginione zwierzęta{% endblock %}

{% block main %}
    <H1 class="text-center m-auto">Zaginione zwierzęta</H1>
    <section class="filter-container">
        <H2>Filtry</H2>
        <form action="." method="GET" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <label for="pet_type" class="form-label f-w-600">Gatunek</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-paw"></i></span>
                        {% render_field listing_filter.form.pet_type class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <label for="gender" class="form-label f-w-600">Płeć</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                        {% render_field listing_filter.form.gender class="form-control" %}
                    </div>
                </div>
                {% comment %} <div class="mb-3">
                    <label for="gender" class="form-label">Płeć: </label>
                    {% render_field listing_filter.form.gender class="form-control" %}
                </div> {% endcomment %}
                <div class="col-sm-4 mb-3">
                    <label for="region" class="form-label f-w-600">Ostatnia lokalizacja</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                        {% render_field listing_filter.form.region class="form-control" %}
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-center" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary m-1"><i class="fas fa-filter"></i> Filtruj</button>
                <a class="btn btn-danger m-1" href="{% url 'lost_pets'%}" role="button" ><i class="fas fa-times-circle"></i> Wyczyść filtry</a>
            </div>
        </form>
    </section>
      
    <div id="pets-container">
        {% for item in pet_page_obj %}
            {# Wczytujemy szablon do listowania profili zwierząt #}
            {% block container %}
                <section class="pet-list p-2"  onclick="javascript:window.location.href='{% url 'pet_profile'%}{{item.id}}'">
                    {% include 'template_parts/pet_prof_listing.html' %}

                    <div class="d-flex justify-content-center" role="group" aria-label="Basic example">
                        <a class="btn btn-primary" href="{% url 'pet_profile'%}{{item.id}}" role="button" ><i class="fas fa-eye"></i> Pokaż</a>
                    </div>
                    <br>
                </section>
            {% endblock %}
        {% endfor %}
    </div>

    {# Wczytanie szablonu  paginacji stron #}
    {% include 'template_parts/pagination.html' %}
{% endblock %}
