/*Navigation Bar*/
.navbar {
    width: auto;
    height: auto;
}
.navbar-brand > img {
    width: 80px;
    height: 80px;
}
.navbar-nav {
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-item > .nav-link:hover {
    color: lightgray;
}

/*Main*/
#main {
    margin: auto;
    width: 60%;
    height: 100vh;
}



