{% extends "base.html" %}
{% load static%}
{% load bootstrap5 %}

{% block styles %}
    <link rel="stylesheet" href='{% static "css/index.css" %}'>
{%endblock%}

{% block title %}Edytuj swoje zwierzę{% endblock %}

{% block main %}
    <form action="." method=POST enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="pet_num" class="form-label">Numer</label>
            {{ form.pet_num }}
        </div>
        <div class="mb-3">
            <label for="pet_type" class="form-label">Gatunek</label>
            {{ form.pet_type }}
        </div>
        <div class="mb-3">
            <label for="pet_name" class="form-label">Imię</label>
            {{ form.pet_name }}
        </div>
        <div class="mb-3">
            <label for="pet_sex" class="form-label">Płeć</label>
            {{ form.pet_sex }}
        </div>
        <div class="mb-3">
            <label for="pet_image" class="form-label">Zdjęcie</label>
            {{ form.pet_image }}
            <img src="{{form.initial.pet_image.url}}" height="300px" width="300px" alt="pet_image" id="pet_image_preview">
        </div>
        <div class="mb-3">
            <label for="pet_desc" class="form-label">Opis</label>
            {{ form.pet_desc }}
        </div>
        <div class="mb-3">
            <label for="pet_desc" class="form-label">Zaginął</label>
            {{ form.is_lost }}
        </div>
        <div class="mb-3">
            <label for="pet_desc" class="form-label">Województwo</label>
            {{ form.region }}
        </div>
        <button type="submit" class="btn btn-primary">Edytuj zwierzę</button>
    </form>
    
    <script>
        const imgInput = document.querySelector("#id_pet_image")
        const displayImg = document.querySelector("#pet_image_preview")
        imgInput.addEventListener('change',
        (event)=>{
            const imgObject = event.target.files[0]
            displayImg.src = URL.createObjectURL(imgObject)})
    </script>
{% endblock %}