{% extends "base.html" %}
{% load static%}
{% load bootstrap5 %}


{% block main %} 
    <form action="" method=POST>
        {% csrf_token %}
        <div class="mb-3">
            <label for="first_name" class="form-label">Nowe Hasło: </label>
            {{ form.new_password1 }}
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Powtórz Hasło:</label>
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Zmień Hasło</button>
    </form>
{% endblock %}