{% extends "base.html" %}
{% load static%}
{% load bootstrap5 %}

{% block title %}Edytuj Profil{% endblock title %}

{% block main %}
    <H1>Twój profil użytkownika</H1> 
        {% csrf_token %}
        <div class="mb-3">
            <label for="first_name" class="form-label">Imię:</label>
            {{ request.user.first_name }}
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Nazwisko: </label>
            {{ request.user.last_name }}
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Numer telefonu:</label>
            {{ request.user.phone }}
        </div>
        <div class="mb-3">
            <label for="region" class="form-label">Województwo:</label>
            {{ request.user.region }}
        </div>
        <a class="btn btn-primary" href="{%url 'profile_edit' %}" role="button">Edytuj</a>
        <a class="btn btn-primary" href="{%url 'password_change' %}" role="button">Zmień hasło</a>
    
{% endblock %}