{# paginator dla stron #}
{% load pets_tags %}

<nav id="pagination" aria-label="Page pet list">
    <ul class="pagination justify-content-center">
        {% if pet_page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="{% filter_url 1 'page' request.GET.urlencode %}">Pierwsza</a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="{% filter_url pet_page_obj.previous_page_number 'page' request.GET.urlencode %}"><i class="fas fa-angle-left"></i></a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="{% filter_url pet_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{pet_page_obj.number|add:'-1'}}</a>
            </li>
        {% endif %}
        <li class="page-item disabled">
            <a class="page-link" href="{{pet_page_obj.number}}"><strong>{{pet_page_obj.number}}</strong></a>
        </li>
        {% if pet_page_obj.has_next %}
            <li class="page-item ">
                <a class="page-link" href="{% filter_url pet_page_obj.next_page_number 'page' request.GET.urlencode %}">{{pet_page_obj.number|add:'1'}}</a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="{% filter_url pet_page_obj.next_page_number 'page' request.GET.urlencode %}"><i class="fas fa-angle-right"></i></a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="{% filter_url pet_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Ostatnia</a>
            </li>
        {% endif %}
    </ul>
</nav>


